body {
	margin: 0;
	padding: 0;
	background-color: lightblue;

}

body>div {

	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

}

.qr-reader {
	width: 50vw;
	height: 30vh;
}

span {
	cursor: pointer;
}

.modal-content {
	background-color: black;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid white;
	width: 80%;
	color: lightblue
}

.close {
	color: "black";
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.modal {
	display: none;
	position: fixed;
	z-index: 4;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;

}

@media screen and (max-width:480px) {
	.qr-reader {
		width: 100%;
	}

}

button,
a {
	cursor: pointer;
}

button {
	background: black;
	color: lightblue;
	height: 30px;
	border: none;
	border-radius: 5px;
}
